<!DOCTYPE html>
<html lang="es">
	<%- include('../partials/head.ejs') %>

    <body>
        
        <%- include('../partials/header.ejs') %>

            <div>
                <% if (typeof errors != 'undefined') { %>
                    <p style="color: red">ERROR</p>
                    <ul>
                        <% for (let i=0; i < errors.length; i++) { %>
                            <li>
                                <%= errors[i].msg %>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
            </div>

            <form action="/admin/product/create" method="POST" enctype="multipart/form-data">
                <div class="campoIndividual">
                    <label for="idProduct">Id producto</label>
                    <input type="number" id="idProduct" name="idProduct">
                </div>
                <div class="campoIndividual">
                    <label for="nameProducto">Nombre producto</label>
                    <input type="text" id="nameProducto" name="nameProducto">
                </div>
                <div class="campoIndividual">
                    <label for="descriptionProduct">Descripción producto</label>
                    <input type="text" id="descriptionProduct" name="descriptionProduct">
                </div>
                <div class="campoIndividual">
                    <label for="categoryProduct">Categoria producto</label>
                    <input type="text" id="categoryProduct" name="categoryProduct">
                </div>
                <div class="campoIndividual">
                    <label for="colorProduct">Color producto</label>
                    <input type="text" id="colorProduct" name="colorProduct">
                </div>
                <div class="campoIndividual">
                    <label for="precioProduct">precio producto</label>
                    <input type="number" id="precioProduct" name="precioProduct">
                </div>
                <div class="campoIndividual">
                    <label for="imageProduct">Imagen producto</label>
                    <input type="file" id="imageProduct" name="imageProduct">
                </div>
                <div class="botomIngreso">
                    <button type="submit">Ingresar</button>
                </div>
            </form>
        </div>

        <%- include('../partials/footer.ejs') %>

    	<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="/js/js-estilo.js"></script>
		
    </body>

</html>