        
        <footer class="piePagina">
            <div class="pieSuperior">
                <a href="#"><i class="fas fa-envelope"></i>Contacto</a>
                <div class="titulo">
					<h1>MUG</h1>
					<span>Distribuidora</span>
                </div>
                <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
            </div>
            <hr>
            <div class="pieInferior">
                <span>&copy;2020 - Todos los derechos reservados.</span>
                <span>Alejandro Rios.</span>
            </div>
        </footer>
	
    	