
    	<header class="portada">
			<div class="primeraPortada">
				<div class="invisible"></div>
				<div class="titulo">
					<h1>MUG</h1>
					<span>Distribuidora</span>
				</div>
				<div class="buscador">
					<input name="busqueda" placeholder="Buscador de productos" type="text" id="busqueda">
					<!--<i class="fa fa-search"></i>-->
				</div>
			</div>
			<div class="segundaPortada">
				<div class="navegacion">
					<ul>
						<li>Home</li>
						<li>Productos</li>
						<li>Novedades</li>
						<li>Contacto</li>
					</ul>
				</div>
				<div class="ingreso">
					<span><i class="fa fa-user"></i>Ingreso a clientes</span>
				</div>
			</div>
		</header>
		<div class="breadcrumb">
			<span>ej:productos/</span>
		</div>
	
    	