<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="autor" content="Alejandro Rios">

		<title></title>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
		<link href="/font/css/fontawesome.css" rel="stylesheet">
   		<link href="/font/css/brands.css" rel="stylesheet">
		<link href="/font/css/solid.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
    	
    	
    </head>

    <body>
    	<header class="portada">
			<div class="primeraPortada">
				<div class="invisible"></div>
				<div class="titulo">
					<h1>MUG</h1>
					<span>Distribuidora</span>
				</div>
				<div class="buscador">
					<input name="busqueda" placeholder="Buscador de productos" type="text" id="busqueda">
					<!--<i class="fa fa-search"></i>-->
				</div>
			</div>
			<div class="segundaPortada">
				<div class="navegacion">
					<ul>
						<li>Home</li>
						<li>Productos</li>
						<li>Novedades</li>
						<li>Contacto</li>
					</ul>
				</div>
				<div class="ingreso">
					<span><i class="fa fa-user"></i>Ingreso a clientes</span>
				</div>
			</div>
		</header>
		<div class="breadcrumb">
			<span>ej:productos/</span>
		</div>
	
    	<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="/js/js-estilo.js"></script>
		
    </body>

</html>