<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="autor" content="Alejandro Rios">

    <title></title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="/font/css/fontawesome.css" rel="stylesheet">
   <link href="/font/css/brands.css" rel="stylesheet">
    <link href="/font/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    
    
</head>