<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="autor" content="Alejandro Rios">

		<title></title>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
		<link href="/font/css/fontawesome.css" rel="stylesheet">
   		<link href="/font/css/brands.css" rel="stylesheet">
		<link href="/font/css/solid.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
    	
    	
    </head>

    <body>
        
        <!--<section>
            <div class="slider">
                <ul>
                    <li><img src="img/alex-gudino-xVkgJEF8nWg-unsplash.jpg" alt="oferta1"></li>
                    
                    <li><img src="img/andres-vera-BewKTZMv7V0-unsplash.jpg" alt="oferta2"></li>
                    
                    <li><img src="img/vanesa-conunaese-0I1VPpfmV9I-unsplash.jpg" alt="oferta3"></li>
                  
                </ul>
            </div>
        </section>  -->
    
        <section>
            <div class="slider">
                <ul>
                    <li><div class="imagine1"></div></li>
                    <li><div class="imagine2"></div></li>
                    <li><div class="imagine3"></div></li>
                </ul>
            </div>
        </section>

    	<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="/js/js-estilo.js"></script>
		
    </body>

</html>