<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head.ejs') %>

    <body>
        
        <%- include('./partials/header.ejs') %>

        <div class="centrarFormIngreso">
			<div class="zonaIngreso">
				<div class="tituloFormIngreso">
					<h1>¡Hola de nuevo!</h1>
					<span>¡Nos alegramos mucho de volver a verte!</span>
				</div>

                <% if (typeof errors != 'undefined') { %>
                    <p style="color: red">ERROR</p>
                    <ul>
                        <% for (let i=0; i < errors.length; i++) { %>
                            <li>
                                <%= errors[i].msg %>
                            </li>
                        <% } %>
                    </ul>
                <% } %>

				<form action="post" class="zonaFormulario">
					<div class="datosIngresoForm">
						<label class="labelFormIngreso" for="email">Correo electrónico</label>
						<input class="inputFormIngreso" type="email" name="email" id="email">

						<label class="labelFormIngreso" for="contrasena">Contraseña</label>
						<input class="inputFormIngreso" type="password" name="contrasena" id="contrasena">
					</div>

					<div class="zonaRecordame">
						<label for="recordame">Recordarme</label>
						<input type="checkbox" name="recordame" id="recordame">
					</div>

					<div class="enviarIngresoForm">
						<button type="submit">Iniciar sesión</button>
					</div>

					<div class="zonaRegistrarForm">
						<p>¿Necesitas una cuenta? <a href="#">Registrarse</a></p>
					</div>
				</form>
			</div>
		</div>

        <%- include('./partials/footer.ejs') %>

    	<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="js/index.js"></script>
		
    </body>

</html>