<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>
        
        

        <%- include('./partials/footer.ejs') %>

    	<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="/js/js-estilo.js"></script>
		
    </body>

</html>