<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>
        
        <div class="centrarFormIngreso centrarFormRegistro">
			<div class="zonaIngreso">
				<div class="tituloFormIngreso">
					<h1>Crear una cuenta</h1>
				</div>

				<form action="/registro" class="zonaFormulario" method="POST">
					<div class="datosIngresoForm">

                        <label class="labelFormIngreso" for="nombre">Nombre </label>
                        <input class="inputFormIngreso" type="text" name="nombre" id="nombre">

                        <label class="labelFormIngreso" for="apellido">Apellido </label>
                        <input class="inputFormIngreso" type="text" name="apellido" id="apellido" >

                        <label class="labelFormIngreso" for="email">Correo electrónico</label>
						<input class="inputFormIngreso" type="email" name="email" id="email">

                        <label class="labelFormIngreso" for="usuario">Usuario </label>
                        <input class="inputFormIngreso" type="text" name="usuario" id="usuario" >

                        <label class="labelFormIngreso" for="clave">Contraseña</label>
                        <input class="inputFormIngreso" type="password" name="clave" id="clave">

                        <label class="labelFormIngreso" for="telefono">Telefono </label>
                        <input class="inputFormIngreso" type="number" name="telefono" id="telefono" >

                        <label for="avatar">Avatar </label>
                        <input type="file" name="avatar" id="avatar">
					</div>

					<div class="enviarIngresoForm">
						<button type="submit">Continuar</button>
					</div>

					<div class="zonaRegistrarForm">
						<a href="#">¿Ya tienes una cuenta?</a>
					</div>
				</form>
			</div>
		</div>

        <%- include('./partials/footer.ejs') %>

    	<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>	
		<script type="text/javascript" src="/js/index.js"></script>
		
    </body>

</html>